/* .App {
  text-align: center;
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 50px ridge blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
}

button{
  padding: 30px;
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
  background: white;
  border: none;
  background-color:  blueviolet;
  color: white;
  border-radius: 30px;

}
input{
  padding: 10px;
  font-size: 30px;
}
li{
  color: red;
  list-style-type: none;
  font-size: 40px;
} */
/* for weather app style */
.App{
  text-align: center;
 
}
